*{
    list-style: none;
}

.menu ul{
    display: flex;
    padding: 10px;
    gap: 30px;
    font-size: 24px;
    text-transform: uppercase;
}

.link-navegacao{
    color: rgb(255, 0, 0);
    font-weight: bold;
    text-decoration: none;
}

#form-contato{
    width: 100%;
    max-width: 200px;
    height: 200px;
    
    border: solid 1px gray;
    border-radius: 5px;
    padding: 10px;
    
    align-items: center;
    justify-content: center;

    gap: 25px;
}

#form-contato input[type="text"], input[type="email"]{
    border-radius: 100px;
    padding:  8px 15px;
    border: solid 1px blue;
    outline: none;
}

#form-contato input[type="submit"]{
    border-radius: 100px; 
    border: none;
    background-color: blue;
    color: white !important;
    padding: 15px;
    width: 100px;
    height: 40px;
}
